@keyframes scale-down {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.95);
    }
    30% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
}

.click-scale {
    transition: transform 0.2s ease;
}

.click-scale:active {
    animation: scale-down 0.3s ease forwards;
}
